@font-face {
    font-family: 'Gothic';
    src: url('assets/Gothic\ 821\ Condensed.woff');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Gothic;
}

:root {
    --fresh-mint: #275848;
    --dark-fresh-mint: #163027;
    --banana-skin: #F6D700;
    --pure-white: #FFF;
    --mint-cream: #FAFBF8;
    --rose-white: #F1EAEA;
}

/* BASIC STYLING */

body {
    background: var(--mint-cream);
}

.bg-fresh-mint {
    background: var(--fresh-mint);
}

a {
    text-decoration: none;
}

.flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.between {
    justify-content: space-between;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1280px;
    margin: auto;
}

.wrapper {
    padding-inline: 1rem;
}

.p-block {
    padding-block: 3rem;
}

/* HEADER STYLEING */

.navbar {
    min-height: 13vh;
}

.navlist {
    gap: 2.5rem;
}

.link {
    color: var(--mint-cream);
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: .1rem;
}

.logo {
    font-size: 2.2rem;
    text-transform: uppercase;
    color: var(--pure-white);
}

.hamburger {
    color: var(--pure-white);
    font-size: 1.6rem;
    display: none;
}

.mobile-list {
    display: none;
}

.mobile-list .link {
    font-size: 1.1rem;
    color: var(--dark-fresh-mint);
    text-transform: uppercase;
    font-family: Gothic;
}

/* SECTIONS STYLING */

.hero-content {
    min-height: 100vh;
    position: relative;
}

.hero-content h1 {
    font-size: 30vw;
    color: var(--pure-white);
    text-transform: uppercase;
    letter-spacing: -.8rem;
    text-align: center;
    line-height: 100%;
    text-shadow: 0 0 1.5rem var(--dark-fresh-mint);
}

.wavy-shape {
    position: absolute;
    bottom: 0;
}

.shoe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-20deg);
    width: 54vw;
    transition: .3s ease-in-out;
    /* pointer-events: none; */
    z-index: 4;
}

.shoe:hover {
    top: 70%;
    left: 45%;
    transform: translate(-50%, -50%) rotate(0deg);

}




.hero-inner {
    position: absolute;
    width: 100%;
    min-height: 30vh;
    bottom: 150px;
    align-items: flex-end;
}

.hero-section {
    border-radius: 0 0 5rem 5rem;
}

.circle {
    /* position: absolute; */
    width: 10rem;
    aspect-ratio: 1;
    border-radius: 100vw;
    background-color: var(--banana-skin);
    align-self: flex-start;
    position: relative;
}

.circle::before {
    content: "# 1 Sneakers";
    position: absolute;
    font-size: 3.7rem;
    text-transform: uppercase;
    line-height: 100%;
    text-shadow: .3rem .3rem 0 var(--pure-white);
    transform: rotate(-20deg);
    top: 0;
    left: 15%;
}

.para {
    max-width: 320px;
    color: var(--dark-fresh-mint);
    font-family: Arial, Helvetica, sans-serif;
}

.cylinder-inner {
    background: var(--banana-skin);
    width: 100%;
    min-height: 17vh;
    border-radius: 100vw;
    white-space: nowrap;
    overflow: hidden;
}

.cylinder {
    padding: 1rem;
}

.cylinder-inner h4 {
    font-size: 4.5vw;
    text-transform: uppercase;
    color: var(--fresh-mint);
}

.marquee {
    overflow: hidden;
    padding: 20px 0;
}

.marquee__inner {
    display: flex;
    width: max-content;
    animation: scroll 15s linear infinite;
}

.marquee__inner h4 {
    white-space: nowrap;
    font-size: 3rem;
    text-transform: uppercase;
    margin-right: 40px;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

.mobile-para {
    color: var(--pure-white);
    max-width: 350px;
    text-align: center;
    display: none;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}

h2 {
    font-size: 7.5vw;
    color: var(--fresh-mint);
    text-transform: uppercase;
    letter-spacing: -.25rem;
}

.capsual {
    width: 15rem;
    height: 5rem;
    border-radius: 100vw;
    background: linear-gradient(90deg, pink, #d4d4d4);
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.capsual img {
    position: absolute;
    width: 10rem;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease-in-out;
}

.capsual:hover img {
    transform: translate(-50%, -35%) rotate(45deg);
}

.profile {
    width: 4rem;
    aspect-ratio: 1;
    border-radius: 100vw;
    border: .3rem solid var(--pure-white);
    overflow: hidden;
}

.profile img,
.category-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.profile:nth-child(2),
.profile:nth-child(3) {
    margin-left: -1rem;
}

h5 {
    font-size: 3vw;
    margin-left: 1rem;
    text-transform: uppercase;
    color: var(--fresh-mint);
}

.btn {
    background: var(--fresh-mint);
    color: var(--pure-white);
    font-size: 2rem;
    text-transform: uppercase;
    padding: 1rem 2rem;
    border-radius: 100vw;
    border: .4rem solid var(--pure-white);
}

.By-Sleek h3 {
    font-size: 6vw;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--fresh-mint);
    letter-spacing: -.1rem;
}

.card-container {
    gap: 1rem;
}

.card {
    flex: 1;
    flex-basis: 250px;
    background: var(--rose-white);
    height: 70vh;
    border-radius: 5rem;
    position: relative;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.card .btn {
    position: absolute;
    bottom: -100px;
    left: 50%;
    width: 80%;
    transform: translateX(-50%);
    font-size: 1.5rem;
    text-align: center;
    transition: .3s ease-out;
}

.card:hover .btn {
    bottom: 30px;
}

.card .btn:hover {
    background: var(--banana-skin);
    color: var(--fresh-mint);
}

.product .para ,
.product h3{
    color: var(--pure-white);
}

.icon-btn{
    width: 3.5rem;
    aspect-ratio: 1;
    outline: .4rem solid var(--pure-white);
    background: var(--banana-skin);
    color: var(--fresh-mint);
    font-size: 2rem;
    border-radius: 100vw;
    text-align: center;
    line-height: 3.5rem;
    transition: all .3s ease-in-out ;
}
.category .cylinder-inner:hover .icon-btn{
    transform: rotate(-45deg);
    background: var(--fresh-mint);
    color: var(--banana-skin);
}

.category .cylinder-inner:hover h4{
    color: var(--fresh-mint);
}
.category{
    position: relative;
    margin-bottom: 3rem;
}
.category .cylinder-inner{
    background: var(--dark-fresh-mint);
    transition: .3s ease-in-out;
}

.category .cylinder-inner h4{
    color: var(--pure-white);
}

.m-top{
    margin-top: 3rem;
}

.category-image{
    width: 8rem;
    aspect-ratio: 1;
    border-radius: 100vw;
    position: absolute;
    left: 70%;
    top: 50%;
    transform: translate(-50% , -10%);
    box-shadow: rgba(0, 0, 0, 0.244) 0 2rem 6rem 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: all.3s ease-in-out;
}

.category .cylinder-inner:hover ~ .category-image{
    opacity: 1;
    visibility: visible;
    transform: translate(-50% , -50%);

}

.category .cylinder-inner:hover{
    background: var(--banana-skin);
}

.into-image{
    width: 100%;
    height: 85vh;
    background-image: url("assets/shoe\ bg-min.jpeg");
    background-repeat: no-repeat;
    border-radius: 5rem;
    background-size: cover;
    background-position: bottom;
    justify-content: center;
}

.into-image .btn{
    background: var(--banana-skin);
    color: var(--fresh-mint);
    transition: all .3s ease-in-out;
}

.into-image .btn:hover{
    background: orangered;
    color: var(--pure-white);
}

.contact{
    width: 80%;
    margin: auto;
    position: relative;
}

.contact .icon-btn{
    background: var(--fresh-mint);
    color: var(--banana-skin);
}

.contact-image{
    position: absolute;
    width: 12rem;
    left: 50%;
    top: 170px;
    transition: all .3s ease-in-out;
}

.contact:hover .contact-image{
    top: 3px;
}

.contact:hover .icon-btn{
    transform: rotate(-45deg);
}

.footer-list{
    justify-content: center;
    min-height: 17vh;
    gap: 1rem;
}

.footer-link{
    background: var(--rose-white);
    padding: 1rem 3rem;
    border-radius: 5rem;
    text-transform: uppercase;
    color: var(--fresh-mint);
    transition: all .3s ease-in-out;
}

.footer-link:hover{
    background: var(--fresh-mint);
    color: var(--pure-white);
}

.copyright{
    padding-block: 1rem;
}

.copyright p{
    color: var(--fresh-mint);
    text-transform: uppercase;
    font-size: 1rem;
    text-align: center;
}




























@media screen and (max-width:780px) {
    .navlist {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .navbar {
        position: relative;
    }

    .mobile-list {
        display: block;
        background-color: var(--banana-skin);
        position: absolute;
        top: 120px;
        left: -100%;
        transform: translateX(-50%);
        padding: 3rem;
        border-radius: 5rem;
        width: 20rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        box-shadow: rgba(0, 0, 0, 0.2) 0 2rem 6rem 0;
        outline: .4rem solid var(--pure-white);
        transition: .7s ease-in-out;
        z-index: 5;
    }

    .mobile-menu-active {
        left: 50%;
        transform: translateX(-50%);
    }

    .hero-content h1 {
        font-size: 5.6rem;
        letter-spacing: -.1rem;
    }

    .hero-content {
        min-height: 83vh;
        padding-top: 2rem;
    }

    .hero-inner {
        display: none;
    }

    .shoe {
        width: 27rem;
        top: 68%;
        /* left: 47%;
        transform: translateX(-47%) rotate(-20deg); */
    }

    .mobile-para {
        display: block;
    }

    .cylinder-inner {
        min-height: 13vh;
        flex-wrap: wrap;
        padding: 1rem;
        justify-content: center;

    }
    .into-a-world{
        font-size: 4rem !important;
    }
    .cylinder-inner h4 {
        font-size: 2rem;
    }

    .p-block h2 {
        font-size: 4.4rem;
        letter-spacing: -.1rem;
    }

    .cylinder-inner h5 {
        font-size: 1.9rem;
    }

    .gap {
        gap: 2.5rem;
    }

    .profile {
        width: 3rem;
    }

    .btn {
        font-size: 1.5rem;
        border-width: .2rem;
    }

    .By-Sleek h3 {
        font-size: 3.7rem;
        flex-wrap: wrap;
    }

    .card-container{
        margin-top: 1rem;
    }

    .category .cylinder-inner{
        justify-content: space-between;
    }

    .category-image{
        width: 5rem;
        left: 55%;
    }

    .into-image{
        height: 50vh;
    }

    .contact{
        width: 100%;
        justify-content: space-between;
    }

    .contact-image{
        width: 10rem;
        left: 38%;
        transform: translateX(-50%) ;
        transform: rotate(-20deg);
    }
}